.third_page {
    background-repeat: no-repeat;
    width: 100%px;
    background-size: cover;
    height: 965px;
    background-position: center center;
  }
  .wwa {
    font-family: Poppins-Bold;
    font-size: 43px;
    color: #222222;
    margin-top: 120px;
  }
  .aboutus {
    font-family: Poppins-SemiBold;
    font-size: 35px;
    color: #222222;
  }
  .we_are {
    font-family: OpenSans-Bold;
    font-size: 20px;
    color: #222222;
    text-align: justify;
    margin-bottom: 50px;
  }
  .we_are_para {
    margin-top: 100px;
  }