*{
    margin:0;
    padding:0;
}
.fix {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}
.robot_page {
  background-repeat: no-repeat;
  width: 100%px;
  background-size: cover;
  height: 855px;
  background-position: center center;
}
.logo {
  width: 470px;
  height: 155px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-left: 60px;
}
.logo_p {
  position: absolute;
  font-family: Megatron;
  color: white;
  font-size: 16px;
  margin-top: 77px;
  margin-left: 143px;
}

/* navbar section */
.navbar-toggler {
  margin-top: 30px;
  margin-right: 45px;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.01) !important;
}
.navbar ul {
  margin-left: 65px;
}
.navbar ul li a {
  color: white !important;
  font-size: 14px;
  font-family: Poppins-Bold;
  margin-left: 15px;
}
.navbar ul li a:hover {
  color: #81c6bc !important;
}
.navbar ul li a:active {
  color: #81c6bc !important;
  text-decoration: underline;
}
.navbar-toggler-icon {
  color: white !important;
}
.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 1);
}
.dropdown-menu {
  background-color: transparent !important;
}
.dropdown-menu a {
  background-color: transparent !important;
}