.fifth_page {
    width: 100%px;
    height: 990px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .left_content {
    margin-top: 360px;
    margin-left: 45px;
  }
  
  .get_update {
    font-family: American Typewriter Light;
    font-size: 30px;
    color: #29636e;
  }
  .latest_news {
    font-family: ALBA____;
    font-size: 75px;
    color: #29636e;
  }
  .middle_pics {
    margin-top: 210px;
    margin-left: 30px;
  }
  .right_lekha {
    margin-top: 210px;
  }
  .button_div {
    margin-top: 60px;
  }
  .button_read_blog {
    font-size: 27px;
    font-family: Poppins-Bold;
    color: #29636e;
    background-color: #b0e3dc;
    border: none;
  }